<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="false">
  <variable name="LogDrive" value="" />
  <variable name="Service" value="gbos.core.coreapi" />
  <targets>
    <target name="requestResponseWrapper" xsi:type="AsyncWrapper" overflowAction="Grow" queueLimit="10000" batchSize="200" timeToSleepBetweenBatches="1000">
      <target xsi:type="File"
              name="requestResponse"
              fileName="${var:LogDrive}Logs\CoreApi\CoreApi_RequestResponse.log"
              keepFileOpen="true"
              autoFlush="false"
              archiveFileName="${var:LogDrive}Logs\CoreApi\Archived\CoreApi_RequestResponse_Archived_{#}.log"
              archiveDateFormat="yyyy-MM-dd"
              archiveNumbering="DateAndSequence"
              archiveEvery="Day"
              maxArchiveFiles="42"
              archiveAboveSize="102400000"
              concurrentWrites="false"
              openFileCacheTimeout="30">
        <layout xsi:type="JsonLayout" includeAllProperties="true" includeMdlc="true">
          <attribute name="time" layout="${date:universalTime=true:format=yyyy-MM-dd HH\:mm\:ss.fff}" />
          <attribute name="machineName" layout="${machineName}" />
          <attribute name="service" layout="${var:Service}" />
          <attribute name="threadId" layout="${threadid}" />
          <attribute name="threadName" layout="${threadname}" />
          <attribute name="logger" layout="${logger}" />
          <attribute name="level" layout="${level:upperCase=true}" />
          <attribute name="ndc" layout="${ndc}" />
          <attribute name="requestId" layout="${mdlc:requestId}" />
          <attribute name="message" layout="${message}" />
          <attribute name="environment" layout="${environment:Environment}" />
          <attribute name="exception" layout="${exception:format=toString,Data}" />
        </layout>
      </target>
    </target>
    <target name="defaultWrapper" xsi:type="AsyncWrapper" overflowAction="Grow" queueLimit="10000" batchSize="200" timeToSleepBetweenBatches="1000">
      <target xsi:type="File"
              name="default"
              fileName="${var:LogDrive}Logs\CoreApi\CoreApi_Default.log"
              keepFileOpen="true"
              autoFlush="false"
              archiveFileName="${var:LogDrive}Logs\CoreApi\Archived\CoreApi_Default_Archived_{#}.log"
              archiveDateFormat="yyyy-MM-dd"
              archiveNumbering="DateAndSequence"
              archiveEvery="Day"
              maxArchiveFiles="14"
              archiveAboveSize="102400000"
              concurrentWrites="false"
              openFileCacheTimeout="30">
        <layout xsi:type="JsonLayout" includeAllProperties="true"  includeMdlc="true">
          <attribute name="time" layout="${date:universalTime=true:format=yyyy-MM-dd HH\:mm\:ss.fff}" />
          <attribute name="machineName" layout="${machineName}" />
          <attribute name="service" layout="${var:Service}" />
          <attribute name="threadId" layout="${threadid}" />
          <attribute name="threadName" layout="${threadname}" />
          <attribute name="logger" layout="${logger}" />
          <attribute name="level" layout="${level:upperCase=true}" />
          <attribute name="ndc" layout="${ndc}" />
          <attribute name="requestId" layout="${mdlc:requestId}" />
          <attribute name="message" layout="${message}" />
          <attribute name="environment" layout="${environment:Environment}" />
          <attribute name="exception" layout="${exception:format=toString,Data}" />
        </layout>
      </target>
    </target>
  </targets>
  <rules>
    <logger name="RequestResponseLogger" writeTo="requestResponseWrapper" final="true" minlevel="Trace" />
    <logger name="DefaultLogger" writeTo="defaultWrapper" final="true" minlevel="Trace" />
    <logger name="Microsoft.*" maxlevel="Error" final="true" />	
    <logger name="*" writeTo="defaultWrapper" minlevel="Trace" />
  </rules>
</nlog>
